.reasons_lists {
    width: 100%;
    margin: 0 auto;
}
.reasons_lists select {
    width: 100%;
    text-align: left;
    border-width: 0 0 1px 0;
    background-color: transparent;
}
.o_attendance_reason_required {
    border-width: 0 0 2px 0 !important;
}
